---
import HeaderLink from './HeaderLink.astro';
---
<nav class="nav-links" aria-expanded="false">
  <ul>
    <li><HeaderLink href="/">Home</HeaderLink></li>
    <li><HeaderLink href="/about">About</HeaderLink></li>
  </ul>
</nav>